* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

/*Estilos del header*/

header{
    background-color: #7586BF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

header h4 {
    margin-left: 40px;
    font-size: 1.2vw;
    font-weight: normal;
}

header nav {
    margin-right: 40px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
    font-size: 1.2vw;
}

header a{
    text-decoration: none;
    color: inherit;
}

/*Seccion de navegacion*/

.navVar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 5px;
}

.navVar h2{
    font-size: 2vw;
    color: #485273;
}

.navVar input{
    height: 40px;
    width: 200%;
    margin-left: -50%;
    border-radius: 15px;
    font-size: 1vw;
    background-color: #3C4666;
    padding: 10px 15px;
    border: none;
    outline: none;
}

.search-container{
    position: relative;
    background-color: white;
}

.search-container .icon-container {
    position: absolute;
    right: 5%;              /* distancia al borde derecho */
    top: 50%;                 /* centro vertical */
    transform: translateY(-40%) translateX(430%); /* ajusta verticalmente */
    pointer-events: none;     /* para que el input siga siendo editable */
}

.search-container .icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

/* Estilos de la galeria */

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 150px); /* 6 columnas de 150px */
    grid-template-rows: repeat(2, 150px);    /* 2 filas de 150px */      
    column-gap: 15px;                            
    justify-content: center;                  /* centra el grid horizontalmente */
    margin: 5% auto 0 auto;                   /* centrado del contenedor */
}

.item {
    background-color: #485273;
    aspect-ratio: 1 / 1;
    width: 60%;
    border-radius: 15px;
    display: flex;
    justify-content: center; /* centra el texto verticalmente */
    align-items: center;     /* centra el texto horizontalmente */
    position: relative;      /* necesario para la posición absoluta del icono */
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

.item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.item .icon {
    position: absolute;
    top: 10px;    /* distancia desde arriba */
    left: 10px;   /* ahora a la izquierda */
    width: 30%;
    height: auto;
}

.item p{
    font-size: 1.2vw;
}

body{
    background-color: #576490;
}